@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
$primary: #00aa92; // #0a5 #00aa92
$white: #ffffff;

* {
  box-sizing: border-box;
  outline: none;
}

html,
html a,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
dl,
th,
dt,
input,
textarea,
span,
div,
button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
  margin: 0;
  font-variant: tabular-nums;
  background-color: #fff;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  background: #f5f6f7;
}

a,
button {
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  color: $primary;
  text-decoration: none;
}

// containter

.container {
  width: 960px;
  margin: 0 auto;
}

.container-small {
  width: 30%;
  margin: 0 auto;
}

.container-medium {
  width: 50%;
  margin: 0 auto;
}

.container-large {
  width: 70%;
  margin: 0 auto;
}

// margin & padding
.ml-5 {
  margin-left: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pd-5 {
  padding: 5px;
}

.pd-15 {
  padding: 15px;
}

.pd-30 {
  padding: 30px;
}

// box
.card-shadow {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px #eeeeee;
  border: 1px solid #eee;
  background: #fff;

  .card-title {
    font-size: 18px;
  }
}

// Form
.form-horizontal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 13px;
    margin-bottom: 5px;
  }
}

.form-action {
  display: flex;
}

// input
.input-text {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 15px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;

  &:hover,
  &:focus {
    border: 1.5px solid;
    border-color: $primary;
  }
}

// button
.btn {
  width: 100%;
  border: none;
  font-size: 16px;
  height: 42px;
  border-radius: 6px;
}

.btn-primary {
  background: $primary;
  color: #fff;
}

/* GRID START */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.grid-5,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.row-cols-4 > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.grid-5 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

// ************** USER ****************
.user-section {
  display: flex;

  .user-menu {
    width: 250px;
    margin-right: 20px;

    .user-menu-profile {
      padding: 15px;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;

      .img-profile {
        height: 80px;
        width: 80px;
        margin-bottom: 10px;
        border: 1px solid #eee;
        border-radius: 10px;
      }

      .info-profile {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
          // font-weight: bold;
          font-size: 16px;
        }

        .location {
          font-size: 12.5px;
          color: #888;
          margin-top: 5px;
        }

        .saldo {
          margin-top: 10px;
          display: flex;

          span {
            flex: 1;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
          }

          .topup {
            border: none;
            background: $primary;
            color: $white;
            font-size: 13px;
            padding: 3px 5px;
            border-radius: 6px;
          }
        }
      }
    }

    .user-list-menu {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      a {
        padding: 8px 15px;
        color: #333333;
        font-size: 15px;

        &.hover {
          color: $primary;
        }
      }
    }
  }

  .user-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .user-content-header {
      padding: 10px 15px;
      display: flex;
      border-bottom: 1px solid #eee;

      h1 {
        flex: 1;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
      }

      .action {
      }
    }

    .user-content-menu {
      padding: 10px 15px;
      display: flex;
      border-bottom: 1px solid #eee;

      label {
        border: $primary;
        color: $primary;
        border: 1px solid;
        padding: 5px 10px;
        border-radius: 50px;
        margin-right: 7px;
      }
    }

    .user-content-body {
    }
  }
}

// homepage
.home-banner {
  height: 400px;
  background: $primary;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;

  h1 {
    font-size: 42px;
    margin-top: 0px;
  }

  p {
    font-size: 26px;
  }

  button {
    background: #ffcb00;
    border: none;
    padding: 12px 20px;
    font-size: 17px;
    border-radius: 6px;
  }
}

.grid-menu {
  background: $white;
  height: 400px;
}

// SERVICE
.service {
  display: flex;

  .img-thumb {
    height: 150px;
    width: 130px;
    border-radius: 6px;
    object-fit: cover;
  }

  .service-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;

    .service-location {
      font-size: 12.5px;
      color: #888;
      margin-top: 5px;

      .icon-location {
        height: 12px;
        margin-right: 5px;
        margin-top: -2px;
      }
    }

    .service-price {
      font-weight: bold;
      color: #4a5568;
      font-size: 16px;
    }
  }
}

.transaction-warning {
  background: #fff1c9;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
}

.service-detail-transaction {
  .package-selected {
    font-size: 16px;
    color: $primary;
  }
  .price-label,
  .package-label {
    font-size: 13px;
    color: #777;
    margin-bottom: 3px;
    display: block;
  }
  .price {
    font-size: 18px;
    font-weight: bold;
  }
}

.vendor-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;

  .img-profile {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
  }

  .info-profile {
    flex: 1;
    display: flex;
    flex-direction: column;

    .name {
      // font-weight: bold;
      font-size: 16px;
    }

    .location {
      font-size: 12.5px;
      color: #888;
      margin-top: 5px;
    }

    .service {
      margin-top: 5px;
      display: flex;
      span {
        flex: 1;
      }
    }

    .rating {
      margin-top: 10px;
      display: flex;

      span {
        flex: 1;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        color: $primary;
      }

      .review {
        border: none;
        background: $primary;
        color: $white;
        font-size: 13px;
        padding: 3px 5px;
        border-radius: 6px;
      }
    }
  }
}

// tab
.tab {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 0px 15px;

  label {
    margin: 0px 5px;
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 3px solid #fff;

    &.active,
    &:hover {
      border-color: $primary;
    }
  }
}

.tab-body {
  padding: 15px;

  p {
    line-height: 22px;
  }
}

.slider-wrapper {
  border: 1px solid #eee;
  // border-radius: 6px;
  margin-bottom: 5px;
  width: 100%;

  

  // height: 350px;
  .slider-img {
    height: 350px;
    object-fit: contain;
    @media(max-width:640px){
      height: 200px;
      width: 100%;
    }
  }
}

.slider-dots {
  display: flex;

  button {
    background: none;
    margin-right: 5px;
    padding: 0px !important;
  }

  .slider-dots-img {
    height: 60px;
    width: 100px;
    object-fit: cover;
    border-radius: 2px;
  }
}

// input
// {
//     border: 1px solid #ddd;
//     border-radius: 6px;
//     line-height: 36px;
//     padding: 15px;
//     height: 36px;
// }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 250px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: $primary;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.8s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  margin-left: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  //   background-color: $primary;
  background: #fff;
  box-shadow: 0px 0px 3px 0px #eeeeee;
  border: 1px solid #eee;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 2;

  .topnav-wrapper {
    display: flex;

    .topnav-logo {
      font-family: "Istok Web", sans-serif;
      font-weight: bold;
      letter-spacing: -0.5px;
      font-size: 26px;
      margin-top: 12px;
      margin-right: 15px;
      text-transform: lowercase;
      color: $primary;
    }

    .topnav-left {
      flex: 1;
    }
  }
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #333333;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: $primary;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: $primary;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}




// Responsive

@media(max-width:640px){

  .container{
    width: 100%;
  }

  .topnav-left, .topnav-right{
    display: none;
  }
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
}